h1 {
    color: red;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

.box {
    border: 3px solid black;
    margin: 30px;
    padding: 10px;
}


.first-box {
    background-color: rgb(244, 182, 242);
}

.second-box {
    background-color: rgb(169, 180, 237);
}

.third-box {
    background-color: rgb(237, 236, 169);
}

.first-box p {
    background-color: rgb(142, 147, 222);
}

.second-box p {
    background-color: rgb(132, 244, 244);
}

.third-box p {
    background-color: rgb(220, 157, 208);
}

/* demo of nth child selector  */
/* targetting the first child */
.first-box:first-child {
    background-color: greenyellow;
}

/* tagetting the second child of the element */
.second-box :nth-child(2) {
    background-color: khaki;
}
/* targetting the third child */
.third-box :nth-child(3) {
    background-color: mediumaquamarine;
}