/* this css file contains commomg styles that will be imported by other stylesheets */

* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* setting global CSS variables */
:root {
	--netflix-red: rgb(229, 9, 20);
	--global-font-color: white;
	--global-font-family: "Martel Sans", serif;
}

/* setting root font weight & size */
html {
	font-size: 16px;
	font-weight: normal;
}

/* styles for different type of buttons in the page */
.btn {
	border: 1px solid var(--global-font-color);
	border-radius: 8px;
	font-family: inherit;
	color: var(--global-font-color);
	overflow: hidden;
	cursor: pointer;
}

.btn-red {
    background: var(--netflix-red);
    color: var(--global-font-color);
}

.btn-sm {
	padding: 2px 7px;
	height: 30.3158px;
	width: 75.1842px
}

.btn-lg {
    /* min-width: 222px; */
    padding: 12px 30px;
}