* {
	margin: 0;
	padding: 0;
}

.flex-container {
	display: flex;
}

body {
    /* for dark mode effect */
    background-color: black;
}

header {
	/* for path specification using the url() function, the path should be relative to the CSS file */
	background-image: url("./../assets/images/background-cover.jpg");
	/* or the path should start from the website's root */
	background-image: url("/assets/images/background-cover.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);

	width: 100vw;
	height: 660px;

	position: relative;
	top: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 20px;

/* 
	position: absolute;
	top: 0;
    z-index: 0; */

	overflow: hidden;
}

.black-screen {
	/* occupy the same size of the parent container */
	width: 100vw;
	height: 660px;

	background-color: black;
	opacity: 65%;

	position: absolute;
	top: 0;
    z-index: 5;
}

.header-contents {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 5vh;

	height: calc(100% - 38px);
	width: 100%;
	padding: 3%;
	overflow: hidden;

	z-index: 10;

	color: white;
    
    font-family: "Martel Sans", serif;
    font-weight: 400;
	text-align: center;
}

/* styling the navigation bar */
nav {
	width: 75vw;
	margin: auto;
	margin-top: 3vh;

	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;

	color: white;
	font-family: "Martel Sans", serif;
}

/* sizing the NETFLIX logo */
#netflix-logo {
	width: 148px;
	height: 30px;
}

.sign-up-form> h3 {
    font-size: 1rem;
    font-weight: 300;
}

div.horizontal-ruler {
	height: 4px;
	width: 100vw;
	background-color: #3f3f3f;
}

.flex-items {
	display: flex;
	align-content: center;
}

.sign-in-form .flex-items {
	column-gap: 15px;
	height: 38px;
}

.sign-up-form .flex-items {
	column-gap: 20px;
	justify-content: center;
	
}

.sign-up-form .flex-items input,
.sign-up-form .flex-items button {
	font-size: 1.5rem;
	font-weight: 500;
	min-height: 3.5rem;
	height: 65px;
}

.btn {
	border-radius: 8px;
	font-family: inherit;
	color: inherit;
	overflow: hidden;
}

.btn-red {
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
}

.btn-sm {
	padding: 2px 7px;
	height: 32px;
}

.btn-lg {
    width: 200px;
    padding: 12px 30px;
}

.header-form .flex-items :nth-child(1) {
	background-color: rgba(23, 23, 23, 0.7);
	color: white;
}

.header-form .flex-items *{
	border: 0.9px solid white;
}


.txt-email {
    border-radius: 8px;
    padding: 0px 35px;
}

#btn-lang span {
	border: none;
}