* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* setting global CSS variables */
:root {
	--netflix-red: rgb(229, 9, 20);
	--global-font-color: white;
	--global-font-family: "Martel Sans", serif;
}

body {
    /* for dark mode effect */
    background-color: black;
	overflow-x: hidden;
}

header {
	/* for path specification using the url() function, the path should be relative to the CSS file */
	background-image: url("./../assets/images/background-cover.jpg");
	/* or the path should start from the website's root */
	background-image: url("/assets/images/background-cover.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);

	width: 100vw;
	height: 660px;

	position: relative;
	top: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 20px;

	overflow-x: inherit;

}


#black-screen {
	/* occupy the same size of the parent container */
	width: 100vw;
	height: 660px;

	background-color: black;
	opacity: 65%;

	position: absolute;
	top: 0;
    z-index: 5;
}

.contents {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 80vw;
	margin: auto;

	color: var(--global-font-color);

    font-family: "Martel Sans", serif;
}

/* all decendant para and anchor tags must be grey colored text */
.contents p, 
.contents a {
	color: rgba(255, 255, 255, 0.7);
}

.contents ul li {
	list-style-type: none;
}

.header-contents {
	/* display property is set by the contents class */
	row-gap: 5vh;

	height: calc(100% - 38px);
	width: 100%;
	padding: 3%;

	z-index: 10;
	
	text-align: center;
}


.header-contents h1 {
    font-size: 35px;
    font-weight: 900;
}

/* styling the navigation bar */
nav {
	width: 75vw;
	margin: auto;
	margin-top: 3vh;

	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;

	color: var(--global-font-color);
	font-family: "Martel Sans", serif;
}

/* sizing the NETFLIX logo */
#netflix-logo {
	width: 148px;
	height: 30px;
}

.sign-up-form> h3 {
    font-size: 1rem;
    font-weight: 300;
}

.sign-up-form .flex-items {
	column-gap: 20px;
	justify-content: center;
}

.sign-up-form .flex-items input,
.sign-up-form .flex-items button {
	font-size: 1.5rem;
	font-weight: 500;
	min-height: 3.5rem;
	height: 65px;
}

/* style of the element which acts as the line of seperation
between the header and the main contents */
div.horizontal-ruler {
	height: 4px;
	width: 100vw;
	background-color: #3f3f3f;
}

.sign-in-form .flex-items {
	column-gap: 15px;
	height: 38px;
}

.btn {
	border: 1px solid var(--global-font-color);
	border-radius: 8px;
	font-family: inherit;
	color: var(--global-font-color);
	overflow: hidden;
	cursor: pointer;
}

.btn-red {
    background: var(--netflix-red);
    color: var(--global-font-color);
}

.btn-sm {
	padding: 2px 7px;
	height: 32px;
}

.btn-lg {
    /* min-width: 222px; */
    padding: 12px 30px;
}

.header-form .flex-items :nth-child(1) {
	background-color: rgba(23, 23, 23, 0.7);
	color: var(--global-font-color);
}

.header-form .flex-items *{
	border: 0.9px solid var(--global-font-color);
}


.txt-email {
    border-radius: 8px;
    padding: 0px 35px;
}

#btn-lang span {
	border: none;
}


/* the styles corresponding to the main section */

main {
	margin-top: 40px;
}

.main-contents {
	color: var(--global-font-color);
	width: 80vw;
	/* align the contents to center */
	margin: auto;

	/* hide any horizontal overflow */
	overflow: hidden;
}

.main-contents section {
	margin: 0 0 64px 0;
}

section.sign-up-form {
	text-align: center;
}

/* the below class determines the boldness and font-size for all section headings */
.section-heading {
    font-size: 24px;
    font-weight: 700;
}

/* the below class selector is used to add some default padding 
to a container containing cards like items */
.padded-container {
	padding: 16px;
	box-sizing: border-box;
}

/* the container containing the poster cards */
.ul-poster-cards {
    display: flex;
	column-gap: 35px;
    justify-content: space-between;
	overflow-x: scroll;

	/* hiding the scrollbar */
	scrollbar-width: none;
	-ms-overflow-style: none;

}

/* for hiding the scrollbar in the chrome web browser using the pseudo element selector */
.ul-poster-cards::-webkit-scrollbar {
    display: none;
}

.poster-card {
	border-radius: 14px;
	width: 180px;
	height: 252px;
}

/* to slightly scale up the show poster image */
.poster-card:hover {
	transform: scale(1.13);
	transition: transform 0.3s linear;
}

/* the container that contains the reasons-to-join cards */
.reasons-cards-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: space-between;
	column-gap: 20px;
}

/* a reason to join card, this card must be positioned since 
we want to apply abs pos to one of it's child element */
.reason-card {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;

    border: 1px solid white;
	border-radius: 14px;
	width: 290px;
    height: 258px;

	position: relative;
	top: 0px;

	background-image: linear-gradient(to bottom right, rgb(25 33 69), rgb(33 15 25));
}

.card-desc {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    line-height: 20px;
	font-size: 13px;
}

.card-desc h3 {
	font-size: 24px;
	line-height: 27.6316px;
}

.reason-pic {
    height: 72px;
    width: 72px;
    position: absolute;
    bottom: 3%;
    right: 4%;
}

/* styles for FAQ section */

ul.faq-container {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

li.question {
	border: 1px solid var(--global-font-color);
}

/* targetting all button elements inside the questions li  */
li.question button {
	display: flex;
	justify-content: space-between;

	background-color: transparent;
	color: inherit;
	font-size: 24px;
	font-weight: 400;
	width: 100%;
	height: 84px;
	background-color: rgb(45 45 45);

	box-sizing: border-box;
	padding: 24px;

	font-family: var(--global-font-family);
}

/* styles for the footer */

.flexbox {
	display: flex;
	align-items: center;
}

footer {
	margin: 24px 0 0 0;
	padding-bottom: 96px;
}

div.utilities ul.util-links-list {
    flex-direction: row;
	flex-wrap: wrap;
}

ul.util-links-list li{
	min-width: 254px;
}

div.footer-contents > * {
	margin-top: 36px;
}

div.lang-btn {
	align-items: center;
	justify-content: center;
	column-gap: 8px;
}

div.lang-select select{
	appearance: none;
	background-color: black;
	color: var(--global-font-color);
}

